<header>
  <nav>
    <ul class="cabecalho">
      <li>
        <a href="inicio.html">Início</a>
      </li>

      <li class="dropdown">
        <button class="nav-btn" type="button">Armas</button>
        <div class="dropdown-menu">
          <a href="./armas/sobre.html">Sobre</a>
          <a href="./armas/tipagem.html">Tipagem</a>
          <a href="./armas/glossario.html">Glossário das armas</a>
        </div>
      </li>

      <li class="dropdown">
        <button class="nav-btn" type="button">Roupas e Acessórios</button>
        <div class="dropdown-menu">
          <a href="./acessorios/roupas_chapeus.html">Roupas e Chapéus</a>
          <a href="./itens/oculos.html">Óculos</a>
          <a href="./itens/olho_face_cabelo_asa.html">Olho, face, cabelo e asa</a>
          <a href="./itens/ternos.html">Ternos</a>
          <a href="./itens/aneis_pulseiras.html">Anéis e Pulseiras</a>
          <a href="./itens/colares.html">Colares</a>
          <a href="./itens/bolhas.html">Bolhas</a>
          <a href="./itens/itens_auxiliares.html">Itens auxiliares</a>
        </div>
      </li>

      <li class="dropdown">
        <button class="nav-btn" type="button">Sistemas</button>
        <div class="dropdown-menu">
          <a href="./sistemas/ferreiro.html">Ferreiro</a>
          <a href="./sistemas/pet.html">Pet</a>
        </div>
      </li>

      <li class="dropdown">
        <button class="nav-btn" type="button">Instâncias</button>
        <div class="dropdown-menu">
          <a href="./instancias/sobre.html">Sobre</a>
          <a href="./instancias/formigueiro.html">Formigueiro</a>
          <a href="./instancias/galinheiro.html">Galinheiro louco</a>
          <a href="./instancias/bugou.html">Castelo do reino de bugou</a>
          <a href="./instancias/piatan.html">Tribo piatan</a>
          <a href="./instancias/csa.html">Castelo sombrio</a>
          <a href="./instancias/cda.html" class="ultimo">Covil do dragão</a>
        </div>
      </li>

      <li class="dropdown">
        <button class="nav-btn" type="button">Tutoriais de ângulos</button>
        <div class="dropdown-menu">
          <a href="./angulos/angulo65.html">Ângulo 65</a>
          <a href="./angulos/angulo50.html">Ângulo 50</a>
          <a href="./angulos/angulo30.html">Ângulo 30</a>
          <a href="./angulos/angulo20.html" class="ultimo">Ângulo 20</a>
        </div>
      </li>
    </ul>
  </nav>
</header>